.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
*.html
*files/
_*/
*.pdf
index.aux
index.log
index.pdf
index.tex
index.toc
*_cache/
site_libs
*.rmarkdown
index.idx
index.ilg
index.ind
Intro-to-GLMs.pdf
