/*-- scss:rules --*/
/*
.solution{
    margin: 3px 0px;
    border-bottom: 0.9px solid black;
}
*/

/* adapted from https://github.com/adityam/stochastic-control/blob/quarto/static/css/style.scss */
/*
.theorem {
    display: block;
    padding-top: 1em;
    padding-left: 0.5em;
    border: 1px solid $dark;
}
*/
